.h2 {
	font-size: 2em;
	text-align: center !important;
}

.description {
	font-size: 1em;
	text-align: center !important;
}

.sapMPanel .sapMPanelHdr {
	font-size: 2em;
	text-align: center !important;
	
}